#                                Machine Learning Plus

## 101 Pandas Exercises for Data Analysis

### 1. How to import pandas and check the version?

In [2]:
import pandas as pd
print(pd.__version__)

1.4.3

### 2. How to create a series from a list, numpy array and dict?

In [4]:
import numpy as np
lst=list('9876543210')
arr=np.arange(10)
dic=dict(zip(lst,arr))

ser1=pd.Series(lst)
ser2=pd.Series(arr)
ser3=pd.Series(dic)

#print(ser3.head())
#print(ser2.head())
print(ser1.head())

0    9
1    8
2    7
3    6
4    5
dtype: object

### 3. How to convert the index of a series into a column of a dataframe?

In [9]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

### 4. How to combine many series to form a dataframe?

In [13]:
df = pd.concat([ser1, ser2], axis=1)

df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    9     0
1    8     1
2    7     2
3    6     3
4    5     4

### 5. How to assign name to the series’ index?

In [15]:
ser.name='alphabets'
ser.head()

a    0
b    1
c    2
e    3
d    4
Name: alphabets, dtype: int32

### 6. How to get the items of series A not present in series B?

In [21]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser2[~ser2.isin(ser1)]
#ser1[~ser1.isin(ser2)]

2    6
3    7
4    8
dtype: int64

### 7. How to get the items not common to both series A and series B?

In [22]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

little math in above one

### 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [4]:
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

### 9. How to get frequency counts of unique items of a series?

In [7]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

a    6
d    5
b    4
f    4
e    4
c    3
h    2
g    2
dtype: int64

### 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [8]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

print("Top 2 Freq:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

Top 2 Freq: 2    5
3    3
1    2
4    2
dtype: int64

0         2
1         2
2         3
3     Other
4     Other
5         2
6         3
7         3
8         2
9     Other
10    Other
11        2
dtype: object

### 11. How to bin a numeric series to 10 groups of equal size?

In [9]:
ser = pd.Series(np.random.random(20))
print(ser.head())

pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    0.091500
1    0.038415
2    0.621898
3    0.711799
4    0.926763
dtype: float64

0    2nd
1    1st
2    6th
3    7th
4    9th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

### 12. How to convert a numpy array to a dataframe of given shape? (L1)

In [10]:
ser = pd.Series(np.random.randint(1, 10, 35))

df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  4  7  9  9  8
1  2  3  2  7  8
2  5  7  8  7  1
3  6  2  7  3  1
4  9  3  5  2  5
5  2  8  6  8  7
6  5  6  7  2  8

### 13. How to find the positions of numbers that are multiples of 3 from a series?

In [23]:
ser = pd.Series(np.random.randint(1, 10, 7))
#ser

print(ser)
#np.argwhere(ser%3==0)

for i in range(len(ser)):
    if ser[i]%3==0:
        print(i)

0    9
1    2
2    8
3    9
4    6
5    1
6    8
dtype: int32
0
3
4

### 14. How to extract items at given positions from a series

In [26]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [18, 0, 8]

ser.take(pos)

18    s
0     a
8     i
dtype: object

### 15. How to stack two series vertically and horizontally ?

In [32]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

ser1.append(ser2)

df = pd.concat([ser1, ser2], axis=1)
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

C:\Users\Msc 1\AppData\Local\Temp\ipykernel_1672\1183504097.py:4: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ser1.append(ser2)

### 16. How to get the positions of items of series A in another series B?

In [31]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

### 17. How to compute the mean squared error on a truth and predicted series?

In [33]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

np.mean((truth-pred)**2)

0.20302613637997974

### 18. How to convert the first character of each element in a series to uppercase?

In [35]:
ser = pd.Series(['how', 'to', 'win'])

ser.map(lambda x: x.title())

0    How
1     To
2    Win
dtype: object

### 19. How to calculate the number of characters in each word in a series?

In [36]:
ser.map(lambda x: len(x))

0    3
1    2
2    3
dtype: int64

### 20. How to compute difference of differences between consequtive numbers of a series?

In [37]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

### 21. How to convert a series of date-strings to a timeseries?

In [39]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

### 22. How to get the day of month, week number, day of year and day of week from a series of date strings?

In [43]:
# Solution
from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))

# day of month
print("Date: ", ser_ts.dt.day.tolist())

# day of year
print("Day number of year: ", ser_ts.dt.dayofyear.tolist())

# day of week
#print("Day of week: ", ser_ts.dt.weekday_name.tolist())

Date:  [1, 2, 3, 4, 5, 6]
Day number of year:  [1, 33, 63, 94, 125, 157]

### 23. How to convert year-month string to dates corresponding to the 4th day of the month?

In [45]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

ser.map(lambda x: parse('04 ' + x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

### 24. How to filter words that contain atleast 2 vowels from a series?

In [46]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

# Solution
from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

### 25. How to filter valid emails from a series?

In [47]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])

# Solution 1 (as series of strings)
import re
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.map(lambda x: bool(re.match(pattern, x)))
emails[mask]

# Solution 2 (as series of list)
emails.str.findall(pattern, flags=re.IGNORECASE)

# Solution 3 (as list)
[x[0] for x in [re.findall(pattern, email) for email in emails] if len(x) > 0]

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']

### 26. How to get the mean of a series grouped by another series?

In [48]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

# Solution
weights.groupby(fruit).mean()

apple     3.0
banana    7.0
carrot    5.6
dtype: float64

### 27. How to compute the euclidean distance between two series?

In [49]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

# Solution 
sum((p - q)**2)**.5

# Solution (using func)
np.linalg.norm(p-q)

18.16590212458495

### 28. How to find all the local maxima (or peaks) in a numeric series?

In [50]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

# Solution
dd = np.diff(np.sign(np.diff(ser)))
peak_locs = np.where(dd == -2)[0] + 1
peak_locs

array([1, 5, 7], dtype=int64)

### 29. How to replace missing spaces in a string with the least frequent character?

In [51]:
my_str = 'dbc deb abed gade'

# Solution
ser = pd.Series(list('dbc deb abed gade'))
freq = ser.value_counts()
print(freq)
least_freq = freq.dropna().index[-1]
"".join(ser.replace(' ', least_freq))

d    4
b    3
     3
e    3
a    2
c    1
g    1
dtype: int64

'dbcgdebgabedggade'

### 30. How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?

In [52]:
ser = pd.Series(np.random.randint(1,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
ser

2000-01-01    5
2000-01-08    7
2000-01-15    6
2000-01-22    4
2000-01-29    2
2000-02-05    3
2000-02-12    6
2000-02-19    4
2000-02-26    8
2000-03-04    4
Freq: W-SAT, dtype: int32

### 31. How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?

In [5]:
ser = pd.Series([1,10,3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

# Solution
ser.resample('D').ffill()  # fill with previous value

# Alternatives
ser.resample('D').bfill()  # fill with next value
ser.resample('D').bfill().ffill()  # fill next else prev value

2000-01-01     1.0
2000-01-02    10.0
2000-01-03    10.0
2000-01-04     3.0
2000-01-05     3.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

### 32. How to compute the autocorrelations of a numeric series?

In [6]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

# Solution
autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]
print(autocorrelations[1:])
print('Lag having highest correlation: ', np.argmax(np.abs(autocorrelations[1:]))+1)

[0.29, 0.34, 0.26, -0.06, 0.05, -0.34, 0.36, -0.24, 0.15, 0.4]
Lag having highest correlation:  10

### 33. How to import only every nth row from a csv file to create a dataframe?

In [32]:
import csv          
with open('BostonHousing.csv', 'r') as f:
    reader = csv.reader(f)
    out = []
    for i, row in enumerate(reader):
        if i%50 == 0:
            out.append(row)

df2 = pd.DataFrame(out[1:], columns=out[0])
print(df2.head())

      crim  zn  indus chas    nox     rm   age     dis rad  tax ptratio  \
0  0.21977   0   6.91    0  0.448  5.602    62  6.0877   3  233    17.9
1   0.0686   0   2.89    0  0.445  7.416  62.5  3.4952   2  276      18
2  2.73397   0  19.58    0  0.871  5.597  94.9  1.5257   5  403    14.7
3   0.0315  95   1.47    0  0.403  6.975  15.3  7.6534   3  402      17
4  0.19073  22   5.86    0  0.431  6.718  17.5  7.8265   7  330    19.1

        b  lstat  medv
0   396.9   16.2  19.4
1   396.9   6.19  33.2
2  351.85  21.45  15.4
3   396.9   4.56  34.9
4  393.74   6.56  26.2

### 34. How to change column values when importing csv to a dataframe?

In [33]:
import csv
with open('BostonHousing.csv', 'r') as f:
    reader = csv.reader(f)
    out = []
    for i, row in enumerate(reader):
        if i > 0:
            row[13] = 'High' if float(row[13]) > 25 else 'Low'
        out.append(row)

df = pd.DataFrame(out[1:], columns=out[0])
print(df.head())

      crim  zn indus chas    nox     rm   age     dis rad  tax ptratio  \
0  0.00632  18  2.31    0  0.538  6.575  65.2    4.09   1  296    15.3
1  0.02731   0  7.07    0  0.469  6.421  78.9  4.9671   2  242    17.8
2  0.02729   0  7.07    0  0.469  7.185  61.1  4.9671   2  242    17.8
3  0.03237   0  2.18    0  0.458  6.998  45.8  6.0622   3  222    18.7
4  0.06905   0  2.18    0  0.458  7.147  54.2  6.0622   3  222    18.7

        b lstat  medv
0   396.9  4.98   Low
1   396.9  9.14   Low
2  392.83  4.03  High
3  394.63  2.94  High
4   396.9  5.33  High

### 35. How to create a dataframe with rows as strides from a given series?

In [9]:
L = pd.Series(range(15))

def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    return np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]])

gen_strides(L, stride_len=2, window_len=4)

array([[ 0,  1,  2,  3],
       [ 2,  3,  4,  5],
       [ 4,  5,  6,  7],
       [ 6,  7,  8,  9],
       [ 8,  9, 10, 11],
       [10, 11, 12, 13]], dtype=int64)

### 36. How to import only specified columns from a csv file?

In [34]:
df = pd.read_csv('BostonHousing.csv', usecols=['crim', 'medv'])
print(df.head())

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

### 37. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.

In [49]:
df = pd.read_csv('Cars93_miss.csv')

#  number of rows and columns
print(df.shape)

# datatypes
print(df.info)

print(df.describe())
# numpy array 
df_arr = df.values

# list
df_list = df.values.tolist()

(93, 27)
<bound method DataFrame.info of    Manufacturer    Model     Type  Min.Price  Price  ...  Rear.seat.room  \
0         Acura  Integra    Small       12.9   15.9  ...            26.5
1           NaN   Legend  Midsize       29.2   33.9  ...            30.0
2          Audi       90  Compact       25.9   29.1  ...            28.0
3          Audi      100  Midsize        NaN   37.7  ...            31.0
4           BMW     535i  Midsize        NaN   30.0  ...            27.0
..          ...      ...      ...        ...    ...  ...             ...
88   Volkswagen  Eurovan      Van       16.6   19.7  ...            34.0
89   Volkswagen   Passat  Compact       17.6   20.0  ...            31.5
90   Volkswagen  Corrado   Sporty       22.9   23.3  ...            26.0
91        Volvo      240  Compact       21.8   22.7  ...            29.5
92          NaN      850  Midsize       24.8   26.7  ...            30.0

    Luggage.room  Weight   Origin                Make
0            NaN  2705.0  non-USA       Acura Integra
1           15.0  3560.0  non-USA        Acura Legend
2           14.0  3375.0  non-USA             Audi 90
3           17.0  3405.0  non-USA            Audi 100
4           13.0  3640.0  non-USA            BMW 535i
..           ...     ...      ...                 ...
88           NaN  3960.0      NaN  Volkswagen Eurovan
89          14.0  2985.0  non-USA   Volkswagen Passat
90          15.0  2810.0  non-USA  Volkswagen Corrado
91          14.0  2985.0  non-USA           Volvo 240
92          15.0  3245.0  non-USA           Volvo 850

[93 rows x 27 columns]>
       Min.Price      Price  Max.Price   MPG.city  MPG.highway  ...  \
count  86.000000  91.000000  88.000000  84.000000    91.000000  ...
mean   17.118605  19.616484  21.459091  22.404762    29.065934  ...
std     8.828290   9.724280  10.696563   5.841520     5.370293  ...
min     6.700000   7.400000   7.900000  15.000000    20.000000  ...
25%    10.825000  12.350000  14.575000  18.000000    26.000000  ...
50%    14.600000  17.700000  19.150000  21.000000    28.000000  ...
75%    20.250000  23.500000  24.825000  25.000000    31.000000  ...
max    45.400000  61.900000  80.000000  46.000000    50.000000  ...

           Width  Turn.circle  Rear.seat.room  Luggage.room       Weight
count  87.000000    88.000000       89.000000     74.000000    86.000000
mean   69.448276    38.954545       27.853933     13.986486  3104.593023
std     3.778023     3.304157        3.018129      3.120824   600.129993
min    60.000000    32.000000       19.000000      6.000000  1695.000000
25%    67.000000    36.000000       26.000000     12.000000  2647.500000
50%    69.000000    39.000000       27.500000     14.000000  3085.000000
75%    72.000000    42.000000       30.000000     16.000000  3567.500000
max    78.000000    45.000000       36.000000     22.000000  4105.000000

[8 rows x 18 columns]

### 38. How to extract the row and column number of a particular cell with given criterion?

In [50]:
df = pd.read_csv('Cars93_miss.csv')

# Solution
# Get Manufacturer with highest price
df.loc[df.Price == np.max(df.Price), ['Manufacturer', 'Model', 'Type']]

# Get Row and Column number
row, col = np.where(df.values == np.max(df.Price))

# Get the value
df.iat[row[0], col[0]]
df.iloc[row[0], col[0]]

61.9

### 39. How to rename a specific columns in a dataframe?

In [38]:
df = pd.read_csv('Cars93_miss.csv')

# Solution
# Step 1:
df=df.rename(columns = {'Type':'CarType'})
# or
df.columns.values[2] = "CarType"

# Step 2:
df.columns = df.columns.map(lambda x: x.replace('.', '_'))
print(df.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

### 40. How to check if a dataframe has any missing values?

In [39]:
df = pd.read_csv('Cars93_miss.csv')

# Solution
df.isnull().values.any()

True

### 41. How to count the number of missing values in each column?

In [40]:
df = pd.read_csv('Cars93_miss.csv')

# Solution
n_missings_each_col = df.apply(lambda x: x.isnull().sum())
n_missings_each_col.argmax()

23

### 42. How to replace missing values of multiple numeric columns with the mean?

In [41]:
df = pd.read_csv('Cars93_miss.csv')

# Solution
df_out = df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x: x.fillna(x.mean()))
print(df_out.head())

   Min.Price  Max.Price
0  12.900000  18.800000
1  29.200000  38.700000
2  25.900000  32.300000
3  17.118605  44.600000
4  17.118605  21.459091

### 43. How to use apply function on existing columns with global variables as additional arguments?

In [43]:
df = pd.read_csv('Cars93_miss.csv')

# Solution
d = {'Min.Price': np.nanmean, 'Max.Price': np.nanmedian}
df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x, d: x.fillna(d[x.name](x)), args=(d, ))

### 44. How to select a specific column from a dataframe as a dataframe instead of a series?

In [44]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Solution
type(df[['a']])
type(df.loc[:, ['a']])
type(df.iloc[:, [0]])

# Alternately the following returns a Series
type(df.a)
type(df['a'])
type(df.loc[:, 'a'])
type(df.iloc[:, 1])

pandas.core.series.Series

### 45. How to change the order of columns of a dataframe?

In [45]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Solution Q1
df[list('cbade')]

# Solution Q2 - No hard coding
def switch_columns(df, col1=None, col2=None):
    colnames = df.columns.tolist()
    i1, i2 = colnames.index(col1), colnames.index(col2)
    colnames[i2], colnames[i1] = colnames[i1], colnames[i2]
    return df[colnames]

df1 = switch_columns(df, 'a', 'c')

# Solution Q3
df[sorted(df.columns)]
# or
df.sort_index(axis=1, ascending=False, inplace=True)

### 46. How to set the number of rows and columns displayed in the output?

In [46]:
df = pd.read_csv('Cars93_miss.csv')

# Solution
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)
# df

# Show all available options
# pd.describe_option()

### 47. How to format or suppress scientific notations in a pandas dataframe?

In [21]:
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])

# Solution 1: Rounding
df.round(4)

# Solution 2: Use apply to change format
df.apply(lambda x: '%.4f' % x, axis=1)
# or
df.applymap(lambda x: '%.4f' % x)

# Solution 3: Use set_option
pd.set_option('display.float_format', lambda x: '%.4f' % x)

# Solution 4: Assign display.float_format
pd.options.display.float_format = '{:.4f}'.format
print(df)

# Reset/undo float formatting
pd.options.display.float_format = None

   random
0  0.0000
1  0.0008
2  0.0004
3  0.0001

### 48. How to format all the values in a dataframe as percentages?

In [22]:
df = pd.DataFrame(np.random.random(4), columns=['random'])

# Solution
out = df.style.format({
    'random': '{0:.2%}'.format,
})

out

### 49. How to filter every nth row in a dataframe?

In [47]:
df = pd.read_csv('Cars93_miss.csv')

# Solution
print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

### 50. How to create a primary key index by combining relevant columns?

In [48]:
df = pd.read_csv('Cars93_miss.csv', usecols=[0,1,2,3,5])

# Solution
df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df.index = df.Manufacturer + '_' + df.Model + '_' + df.Type
print(df.index.is_unique)

True

#### Below is the used website

https://www.machinelearningplus.com/python/101-pandas-exercises-python/
-Selva Prabhakaran